# wait-for-debugger=false
#rivermax_dll=C:\Program Files\Mellanox\Rivermax\lib\rivermax.dll
rivermax_dll=c:/Users/serge/Documents/projects/network/Mellanox/rivermax_dll/rivermax.dll
verbose=true
enable-tracing=true
cpu-mask=00000010000000000000000000000000000000000010
min-max_chunk_size=1000
min-max_iovec_num=100
rivermax_log_file=C:\Users\serge\Documents\projects\tools\rmax\rivermax_proxy\rivermax.log
rio=true
impose-version=13.3.11.20
#ignore-version-mismatch=true

[rio]
numa_node=0
max_n_out_gen_streams=3
ttl=1
loopback=true

[override]
rmax_get_version=diversion_rmax_get_version_long
rmax_init_version=dummy_rmax_init_version #since rio enabled I don't wannt rmax init due to most likely throw spd::log format exception
rmax_in_attach_flow=rmax_in_attach_flow_ignore_port0
#rmax_register_memory=dummy_rmax_register_memory
#rmax_deregister_memory=dummy_deregister_memory
#rmax_out_create_gen_stream=dummy_rmax_out_create_gen_stream
#rmax_out_destroy_stream=dummy_rmax_out_destroy_stream
#rmax_out_commit_chunk=dummy_rmax_out_commit_chunk

rmax_out_create_gen_stream = rmax_out_create_gen_stream_extended
rmax_in_get_next_chunk = rmax_in_get_next_chunk_shutdown_hack


[Sinks.1]

Destination=Console
Format=[%Channel%][%ThreadID%] %TimeStamp% %Message%
#Format="%TimeStamp% [%Severity%] *** %Message%"
Filter=%Tag% | %Severity% >= trace


[Sinks.2]

Destination=TextFile
FileName=log/rivermax.dll/%Y%m%d_%H%M%S_%5N.log
AutoFlush=true
#Filter=%Channel% != ""
Format=[%Channel%] [%TimeStamp%] [%ThreadID%] %Message%

